# Nextflow & Snakemake
work/
.nextflow*
.snakemake/
*.nf.cache
*.dot
*.dag.png
.nf-work/

results/
data/

resources/genomedir/
resources/AR_subset_VanAllen/
resources/snpeff_cache/
resources/vep_cache/
singularity_cache