# Nextflow & Snakemake
work/
.nextflow*
.snakemake/
*.nf.cache
*.dot
*.dag.png
.nf-work/

results/
data/

resource/genomedir/
resource/AR_subset_VanAllen/
resource/snpeff_cache/
resource/vep_cache/
singularity_cache