docker.enabled = false

singularity {
    enabled = false
    autoMounts = false
    bind = ['/kyukon/scratch/gent/vo/002/gvo00224/TOBI/Projects/AR-burden/AR-Burden/ProBio_cfRNA_NF/resources/vep_cache/']
}

conda.enabled = true

process {

    // TODO nf-core: Check the defaults for all processes
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and reuse the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
        queue  = { 'normal' }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
        queue  = { 'normal' }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        queue  = { 'normal' }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
        queue  = { 'long,normal' }
    }
    withLabel:process_cpu {
        cpus   = { 32    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
        queue  = { 'long,big-mem' }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
        queue  = { 'long,big-mem' }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
        queue  = { 'big-mem' }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}

profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
	executor.queueSize = 100
	executor.submitRateLimit = '30/1min'
        process.resourceLimits = [
            memory: 250.GB,
            cpus: 16,
            time: 3.d
        ]
    }
    vpc_server {
        process.executor = 'slurm'
        conda.enabled = true
        cacheDir = '~/miniconda3/envs/rna_env'
        singularity.enabled = false
        singularity.autoMounts = false
        singularity.runOptions = '--userns -B /groups -B /etc/passwd'
	executor.queueSize = 20
	executor.submitRateLimit = '30/1min'
        process.resourceLimits = [
            memory: 100.GB,
            cpus: 16,
            time: 6.d
        ]
    }
}
